<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#profile_manage_shipper" href="#delivery_history"><%= t ".delivery_history" %><i class="indicator icon_minus_alt2 pull-right"></i></a>
    </h4>
  </div>
  <div id="delivery_history" class="panel-collapse collapse in">
    <div class="panel-body">
      <%= render "table_history_shipper" %>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#profile_manage_shipper" href="#edit_shipper"><%= t ".edit_shipper" %><i class="indicator icon_plus_alt2 pull-right"></i></a>
    </h4>
  </div>
  <div id="edit_shipper" class="panel-collapse collapse">
    <div class="panel-body">
      <%= render "shippers/form" %>
    </div>
  </div>
</div>
